{% extends 'truecar/basic.html' %}
{% block title %} About Us{% endblock %}
{% block body %}


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h3 class="display-4">TRueCaR&copy;</h3>
      <p>We furnished the new models for Sedan and SUVs Taxi Service Ludhiana as per your requirements.
        Cars are maintained in top-notch and comfortable seating.
        To make your journey enjoyable and safe, music systems, GPS tracking and other facilities have been
        provided with every car. Drivers are well mannered and professional.
        They have excellent knowledge on the local destinations.
        So, they could be the best guide for your journey. you can book a taxi anywhere in India.
        Our services are top rated in almost all cities across India. Book a one way cab with driver.</p>

    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-3 text-white bg-dark">
        <h4>Owner</h4>
        <p>Mr. Navdeep Sharma </p>
        <p>M: 8544881995 </p>
        <p>Email:<br>navdeepsharma4072@gmail.com </p>

      </div>
      <div class="col-md-3 ">
        <h4>Manager</h4>
        <p>Mr. Shivam Beniwal  </p>
        <p>M: 8307991886 </p>
        <p>Email:<br>shiv52111@gmail.com </p>

      </div>
      <div class="col-md-3  text-white bg-dark">
        <h4>Technical department</h4>
        <p>Mr. Inderjeet Rathi </p>
        <p>M: 9817741430  </p>
        <p>Email:<br>inderjeetrathee123@gmail.com </p>

      </div>
      <div class="col-md-3 ">
        <h4>Accounts department</h4>
        <p>Mr. Aadarsh Khirwal </p>
        <p>M: 6201242084 </p>
        <p>Email:<br>adarshkhirwal@gmail.com </p>

      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

{% endblock %}